{% extends "base.html" %}

{% block content %}

<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Movi</h1>
							<p>Aplicação de registro de movimento sociais, eventos e notas baseada em geolocalização.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Ver mapa</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div id="map" style="width: 100%; height: 100%; position: absolute;"></div>
							<script src="/static/js/map.js"></script>
							<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7g3wQAWtNEAvejp8sEy3TwaCHO7Rj-a8&callback=initMap"
							async defer></script>
        					
						</section>
						{% for movi in movi_data %}
						<div class="modal fade" id="movi_{{ movi.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        
						        <h4 class="" id="myModalLabel">{{ movi.categoria }} | {{ movi.nome }}</h4>
						      </div>
						      <div class="modal-body">
						      {% for n in notas %}
						      {% if n.related_to == movi %}
						      	{{ n.titulo }}
						      {% endif %}
						      {% endfor %}						        
						      </div>
						      <div class="modal-footer">
						      	<button type="button" class="button movi_drop" id="{{ movi.id }}">Excluir</button>
						       	<button type="button" class="button" data-dismiss="modal">Fechar</button>
						      </div>
						    </div>
						  </div>
						</div>
						{% endfor %}					
					</section>

				

					<section id="two" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Adicionar informação</h2>
							<p>Para construir o mapa adicione aqui as informações</p>
							<div class="style1">
								<section>
									<form method="post" action=".">
										{% csrf_token %}
										<div class="field half first">
											<label for="nome">Nome</label>
											<input type="text" name="nome" id="id_nome" />
										</div>
										<div class="field half">
											<label for="categoria">Categoria</label>
											{{ form.categoria }}
										</div>
										<div class="field half first">
											<label for="cidade">Cidade</label>
											<input type="text" name="cidade" id="id_cidade" />
										</div>
										<div class="field half">
											<label for="bairro">Bairro</label>
											<input type="text" name="bairro" id="id_bairro" />
										</div>
										<div class="field half first">
											<label for="end">Endereço</label>
											<input type="text" name="end" id="id_end" />
										</div>

										<div class="field half">
											<label for="tel">Telefone de contato</label>
											<input type="text" name="tel" id="id_tel" />
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Adicionar</a></li>
										</ul>
									</form>
								</section>
								
							</div>
						</div>
					</section>

					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Notas</h2>
							<p>Adicione e reveja suas anotações</p>
							<div class="style1">
									<ul class="actions">
										<li><a href="#" id="new_note" class="button" data-toggle="modal" data-target="#new_note_modal">Nova</a></li>
									</ul>
							</div>
						</div>

									<div class="modal fade" id="new_note_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        
									        <h4 class="" id="myModalLabel">Escrever nova nota</h4>
									      </div>
									      <div class="modal-body">
									        <form method="post" action="." id="new_nota_form">
												{% csrf_token %}
												<div class="field">
													<label for="titulo">Titulo</label>
													<input type="text" name="titulo" id="id_titulo" />
												</div>
												<div class="field">
													<label for="texto">Texto</label>
													<textarea name="texto" id="id_texto" rows="5"></textarea>
												</div>
												<div class="field half">
													<label for="categoria">Categoria</label>
													{{ nota_form.categoria }}
												</div>
												<div class="field half first">
													<label for="related_to">Relacionado à</label>
													{{ nota_form.related_to }}
												</div>
										  	
									      	</div>
									      	<div class="modal-footer">
									      	
									      		<ul class="actions">
													<li><input type="submit" class="button submit" value="Salvar"></li>
													<li><button type="button" class="button" data-dismiss="modal">Fechar</button></li>
												</ul>
									      	</div>
									      	</form>
									    </div>
									  </div>
									</div>					
					</section>

</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

{% endblock %}